@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
      align-content: center;
    }
}
/*.carousel {
    width:900px;
    height:500px;
    margin: auto;
  }*/

.trim {
  max-height: 60%;
  max-width: 80%;
  margin-left: 10%;
  overflow: hidden;
}