.profile-pic {
    display: flex;
    align-self: center;
    border-radius: 20%;
    width: 80%;
    height: auto;    
    padding: 5% 0 0 0;

}

.sidebar {
    width: 15%;
    align-content: flex-end;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: lightblue;
    box-shadow: .5em 0 1em rgba(0, 0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 100ms ease-out;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-list li {
    margin: 1rem 0;
}

.sidebar-list {
    list-style: none;
    align-self: center;
    flex-direction: column;
    display: flex;
    font-size: 1vw;
    margin-left: 0;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover,
.sidebar a:active {
    color: orange;
}