.login-form {
    border-radius: 4px;
    background-color: white;
}

.nobold {
    font-weight: normal;
}
.sign-up {
    padding-left: 50px;
}
img.bg {
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.login {
    background: url("./background.jpg") no-repeat; 
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}